<!DOCTYPE html>
<html>
<% include head.ejs %>
<body class="skin-blue">
    <% include header.ejs %>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <% var log = logged %>
        <% include leftside.ejs %>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <%= title %>
                    <small><%= heading %></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li class="active"><%= title %></li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">


                <div ng-app="classApp" ng-controller="mainController">
                    <div class="callout callout-danger server_msg" ng-if="serverRes" style="position: absolute; z-index: 10">

                        <p>{{ serverMsg }}</p>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title"><%= __('Create New Course') %></h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                
                                <div class="box-body">
                                    <p>
                                        <select class="form-control" ng-model="selectedCourse" ng-options="course as course.courseName for course in courses" ng-change="getCourse(selectedCourse)">
                                                    <option value=""><%= __('Select A Course') %></option>
                                                </select>
                                    </p>

                                    <p>
                                        <select class="form-control" ng-model="selectedClass" ng-options="c as c.classID for c in classes" ng-change="getClass(selectedClass)">
                                                    <option value=""><%= __('Select A Class') %></option>
                                                </select>
                                    </p>

                                </div><!-- /.box-body -->

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="showAddClass">
                            <div class="box box-primary">
                                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Add Class">
                                    <h3 class="box-title"><%= __('Add Class to Course') %></h3>

                                </div>
                                <div class="box-body">
                                    <form novalidate>
                                        <div class="form-group">
                                            <%= __('Class Day') %>: <select ng-model="classReg.classDay" class="form-control">
                                                <option value="Monday">Monday</option>
                                                <option value="Tuesday">Tuesday</option>
                                                <option value="Wednessday">Wednessday</option>
                                                <option value="Thursday">Thursday</option>
                                                <option value="Friday">Friday</option>
                                                <option value="Saturday">Saturday</option>
                                                <option value="Sunday">Sunday</option>
                                                <option value="Weekday">Weekday</option>
                                                <option value="Weekend">Weekend</option>
                                                <option value="SummerBreak">SummerBreak</option>
                                                <option value="WinterBreak">WinterBreak</option>
                                                <option value="TBD">TBD</option>
                                                <option value="Other">Other</option>                                                
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <%= __('Class Name') %>: <input type="text" ng-model="classReg.class_name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <%= __('StartDate') %>: <input ui-date name="class_end_time" required class="form-control" ng-model="classReg.startDate" value="{{classReg.startDate | date}}">
                                        </div>
                                        <div class="form-group">
                                            <%= __('End Date') %>: <input ui-date name="class_end_time" required class="form-control" ng-model="classReg.endDate" value="{{classReg.endDate | date}}">
                                        </div>
                                        <div class="form-group">
                                            <%= __('Start Time') %>: <input type="text" ng-model="classReg.startTime" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <%= __('Duration') %>: <input type="text" ng-model="classReg.duration" class="form-control">
                                        </div>
                                        
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="createClassReg()">Save</button>
                                        </div>
                                    </form>
                                    
                                </div><!-- /.box-body -->

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="showEditClass">
                            <div class="box box-primary">
                                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Edit Class">
                                    <h3 class="box-title"><%= __('Edit Class') %></h3>

                                </div>
                                <div class="box-body">
                                    <form>
                                        <div class="form-group">
                                            <%= __('Class ID') %>: {{ _class.classID }}
                                        </div>
                                        <div class="form-group">
                                            <%= __('Class Day') %>: <select ng-model="_class.classDay" class="form-control">
                                                <option value="Monday">Monday</option>
                                                <option value="Tuesday">Tuesday</option>
                                                <option value="Wednessday">Wednessday</option>
                                                <option value="Thursday">Thursday</option>
                                                <option value="Friday">Friday</option>
                                                <option value="Saturday">Saturday</option>
                                                <option value="Sunday">Sunday</option>
                                                <option value="Weekday">Weekday</option>
                                                <option value="Weekend">Weekend</option>
                                                <option value="SummerBreak">SummerBreak</option>
                                                <option value="WinterBreak">WinterBreak</option>
                                                <option value="TBD">TBD</option>
                                                <option value="Other">Other</option>                                                 
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <%= __('Class Name') %>: <input type="text" ng-model="_class.class_name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <%= __('StartDate') %>: <input ui-date name="class_end_time" required class="form-control" ng-model="_class.startDate" value="{{_class.startDate | date}}">
                                        </div>
                                        <div class="form-group">
                                            <%= __('End Date') %>: <input ui-date name="class_end_time" required class="form-control" ng-model="_class.endDate" value="{{_class.endDate | date}}">
                                        </div>
                                        <div class="form-group">
                                            <%= __('Start Time') %>: <input type="text" ng-model="_class.startTime" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <%= __('Duration') %>: <input type="text" ng-model="_class.duration" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="updateClassReg(_class)">Update</button>
                                        </div>
                                    </form>
                                </div><!-- /.box-body -->

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="showFiles">
                            <div class="box box-primary">
                                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Edit Class">
                                    <h3 class="box-title">Upload files</h3>

                                </div>
                                <div class="box-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputFile">Select files</label>
                                              <input id="classFiles" type="file" multiple>
                                              <button ng-click="uploadFile()">Upload</button>
                                              <p>{{uploadStatus}}</p>
                                              <p>
                                                  <ul>
                                                      <li ng-repeat="result in uploadResults">
                                                          {{ result.status }}
                                                      </li>
                                                  </ul>
                                              </p>
                                              <p>
                                                  Files Added to Class<hr>
                                                  <ul>
                                                      <li ng-repeat="file in classFiles"><a ng-href="/uploads/classes/{{_class._id}}/files/{{file}}" target="_blank">{{ file }}</a></li>
                                                  </ul>
                                              </p>
                                        </div>
                                    </form>
                                </div><!-- /.box-body -->

                            </div>
                        </div>

                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

    <script src="/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-date/src/date.js"></script>
    
    <script src="/angular_app/addeditclass/app.js"></script>


</body>
</html>
