<!DOCTYPE html>
<html>
<% include head.ejs %>
<body class="skin-blue">
    <% include header.ejs %>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <% var log = logged %>
        <% include leftside.ejs %>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <%= title %>
                    <small><%= heading %></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i><%= __('Home') %></a></li>
                    <li class="active"><%= title %></li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <a class="btn btn-app" href="/createclass">
                    <i class="fa fa-bars"></i> ><%= __('Create Class') %>
                </a>
                <a class="btn btn-app" href="/editclasses">
                    <i class="fa fa-edit"></i><%=  __('Edit Class') %>
                </a>
                <a class="btn btn-app" href="/classreg">
                    <i class="fa fa-group"></i><%=   __('Add/Edit Class Registration') %>
                </a>
                <a class="btn btn-app" href="/manageEvaluators">
                    <i class="fa fa-group"></i><%=  __('Add/Remove Evaluators') %>
                </a>
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

    <script src="/angular/angular.min.js"></script>
    <script src="/angular_app/mainpage/app.js"></script>

</body>
</html>
