<!DOCTYPE html>
<html>
<% include head.ejs %>
<body class="skin-blue">
    <% include authheader.ejs %>
    
        <% var log = logged %>

            <!-- Main content -->
            <section  class="content" ng-app="authApp">
                <div>
                    <loading-indicator ></loading-indicator>
                    <div ng-if='!isRouteLoading' ng-view ></div>
                </div>



            </section><!-- /.content -->

<% if(logged){ %>
<script>
var logged_in = "<%= logged %>";
</script>
<%  } else { %>
<script>
//set user id
var logged_in = "<%= logged %>";
</script>
<% } %>

<script>
    // set translations
    var t_email = '<%= __("Email address") %>';
    var t_password = '<%= __("Password") %>';
    var t_remember = '<%= __("Remember") %>';
    var t_login = '<%= __("Login") %>';
    var t_registerMsg = '<%= __("To Register a New Account Click") %>';
    var t_here = '<%= __("Here") %>';
</script>

<script src="/angular/angular.min.js"></script>
<script src="/angular/angular-route.min.js"></script>
<script src="/angular_app/registerAndLogin/app.js"></script>

</body>
</html>
