<!DOCTYPE html>
<html>
<% include head.ejs %>
<body class="skin-blue">
    <% include header.ejs %>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <% var log = logged %>
        <% include leftside.ejs %>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <img style="width:50px; height:50px;" src="/images/squareIcon/Square_BG_128_48_Check.png">
              		<small><%= __('My Audio Clips') %></small>
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-app="myAudioApp" ng-controller="mainController">
                  <div class="callout callout-danger server_msg" ng-if="serverRes" style="position: absolute; z-index: 10">

                    <p>{{ serverMsg }}</p>
                  </div>  
                        
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="list-unstyled" >
                           <li dir-paginate="clip in clips | itemsPerPage: usersPerPage" total-items="totalClips" id="{{clip._id}}" >
            
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <audio ng-src="{{makeAudioSrc(clip.audioFile)}}" controls="true"></audio>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <%= __('Added') %>: {{ clip.added | date }} <br>
                                                <%= __('Status') %>: {{ clip.status }} <br>
                                                <%= __('Pronunciation') %> : {{ clip.pronunciation }} <br>
                                                <%= __('Accent') %> : {{ clip.accent }} <br>
                                                <%= __('Vocabulary') %> : {{ clip.vocabulary }} <br>
                                                <%= __('Expression') %> : {{ clip.expression }} <br>
                                                <%= __('Pace') %> : {{ clip.pace }} <br>
                                                <%= __('Final Score') %> : {{ clip.finalScore }} <br>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <button class="btn btn-danger" ng-click="deleteClip(clip._id)"><%= __('Delete')%></button>
                                            </div>
                                        </div>
                                    </div>        
            
                            </li>
                        </ul>    
                    </div>
                </div>
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

    <% if(logged){ %>
    <script>
    //set user id
    var user_id = "<%= user._id %>";
    </script>
    <% } %>

    <script src="/angular/angular.min.js"></script>
    <script src="/bower_components/angular-utils-pagination/dirPagination.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-date/src/date.js"></script>
    <script src="/angular_app/myaudios/app.js"></script>

</body>
</html>
