<!DOCTYPE html>
<html>
<% include head.ejs %>
<body class="skin-blue">
    <% include authheader.ejs %>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <% var log = logged %>
        <% include leftside.ejs %>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <%= title %>
                    <small><%= heading %></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li class="active"><%= title %></li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">



                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  ng-app="signupValidationApp" ng-controller="mainController">


                    <div class="callout callout-danger server_msg" ng-if="serverRes" style="position: absolute; z-index: 10">
                        <h4>Errors</h4>
                        <p>{{ serverMsg }}</p>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title"></h3>
                            </div><!-- /.box-header -->
                            <!-- form start -->
                            <form role="form" novalidate name="signupForm">
                                <div class="box-body">

                                    <div class="form-group">
                                        <label>Select Type</label>
                                        <select class="form-control" ng-model="user.type" name="usertype" ng-init="user.type='student'">
                                            <option value="student">Student</option>
                                        </select>
                                    </div> 
                                    <div class="form-group">
                                        <label for="email"><%= __('Email address') %></label>
                                        <input type="email" class="form-control" ng-model="user.email" name="email" required placeholder="Enter email">

                                        <span style="color:red" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
                                              <span ng-show="signupForm.email.$error.required">Email is required.</span>
                                              <span ng-show="signupForm.email.$error.email">Invalid email format.</span>
                                        </span>

                                    </div>
                                    <div class="form-group">
                                        <label for="password"><%= __('Password') %></label>
                                        <input type="password" class="form-control" ng-model="user.password" name="password" required placeholder="Enter Password">

                                        <span style="color:red" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">
                                              <span ng-show="signupForm.password.$error.required">Password is required.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstname"><%= __('First Name') %></label>
                                        <input type="text" class="form-control" ng-model="user.firstname" name="firstname" required placeholder="Enter First Name">

                                        <span style="color:red" ng-show="signupForm.firstname.$dirty && signupForm.firstname.$invalid">
                                              <span ng-show="signupForm.firstname.$error.required">First Name is required.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname"><%= __('Last Name')%></label>
                                        <input type="text" class="form-control" ng-model="user.lastname" name="lastname" required placeholder="Enter Last Name">

                                        <span style="color:red" ng-show="signupForm.lastname.$dirty && signupForm.lastname.$invalid">
                                              <span ng-show="signupForm.lastname.$error.required">Last Name is required.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone"><%= __('Phone')%></label>
                                        <input type="text" class="form-control" ng-model="user.phone" name="phone" required placeholder="Enter Phone">

                                        <span style="color:red" ng-show="signupForm.phone.$dirty && signupForm.phone.$invalid">
                                              <span ng-show="signupForm.phone.$error.required">Phone is required.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="skype">Skype ID</label>
                                        <input type="text" class="form-control" ng-model="user.skype" name="skype" placeholder="Enter Skype ID">

                                       
                                    </div>
                                    <div class="form-group">
                                        <label><%= __('Select Preferred Language')%></label>
                                        <select class="form-control" ng-model="user.prefered_lang" ng-init="user.prefered_lang='ch'">
                                            <option value="ch">Chinese</option>
                                            <option value="en">English</option>
                                        </select>
                                    </div>
                                    

                                </div><!-- /.box-body -->


                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title"></h3>
                            </div><!-- /.box-header -->
                            
                                <div class="box-body">
                                    <!-- <div id="student-info" ng-if="user.type == 'student'"> -->
                                    <div id="student-info">
                                        <div class="form-group">
                                        <label for="student_schoolName"><%= __('School Name')%></label>
                                            <input ng-model="user.student_schoolName" type="text" name="student_schoolName" class="form-control" id="student_schoolName" placeholder="Enter School Name">
                                        </div>
                                        <div class="form-group">
                                        <label for="student_guardianInfo"><%= __('Guardian Info')%></label>
                                            <textarea ng-model="user.student_guardianInfo" class="form-control" id="student_guardianInfo" name="student_guardianInfo" placeholder="Enter Guardian Info"></textarea>
                                        </div>
                                        <div class="form-group">
                                        <label for="student_grade"><%= __('Student Grade')%></label>
                                            <input ng-model="user.student_grade" type="text" class="form-control" id="student_grade" name="student_grade" placeholder="Enter Student Grade">
                                        </div>
                                    </div>

                                </div><!-- /.box-body -->

                            
                        </div>
                    </div>

                    <div style="margon: 0 auto;" class="col-lg-12">
                        <button class="btn btn-primary pull-right" ng-disabled="signupForm.$invalid" ng-click="submitForm(signupForm.$valid)">Submit</button>    
                    </div>
                    
                    </form>

                </div>



            </section><!-- /.content -->
        </aside><!-- /.right-side -->



    </div><!-- ./wrapper -->
    <footer>footer</footer>

    <script src="/angular/angular.min.js"></script>
    <script src="/angular/angular-resource.min.js"></script>
    <script src="/angular/angular-animate.min.js"></script>
    <script src="/angular_app/signup/app.js"></script>
    

</body>
</html>
