<!DOCTYPE html>
<html>
<% include head.ejs %>
<body class="skin-blue">
    <% include header.ejs %>
    <div class="wrapper row-offcanvas row-offcanvas-left">

        <% var log = logged %>
        <% include leftside.ejs %>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <!--<%= title %>-->
                    
                   	<img style="width:50px; height:50px;" src="/images/squareIcon/Square_BG_128_11_Resume_Search.png">
                  	<small><%= __('Your Classes') %></small>
                </h1>
                <!--<ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li class="active"><%= title %></li>
                </ol>-->
            </section>

            <!-- Main content -->
            <section class="content" ng-app="validationApp">

                <% if(logged){ %>

                <div ng-controller="dataController" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  id="app" style="display: none;">

                      <div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="box box-primary">
                                    <div class="box-header" data-toggle="tooltip" title="" data-original-title="Select Your Class">
                                        <h3 class="box-title"><b><%= __('Your Classes') %></b></h3>
                                    </div>
                                    <div class="box-body">
                                        <ul class="list-unstyled" >
                                            <li ng-repeat="class in classes"><a href="#" ng-click="showDetails(class)">{{ class.class_name }}</a></li>
                                        </ul>    
                                    </div><!-- /.box-body -->

                                </div>
                            </div>    
                        </div>



                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="showClass">
                        
                        	<!--sec1-->
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="box box-primary">
                                    <!--<div class="box-header" data-toggle="tooltip" title="" data-original-title="Select Class">
                                        <h3 class="box-title"><%= __('Class Details') %></h3>
                                    </div>-->
                                    <div class="box-body">

                                        <dl>
                                            <!--<dt><%= __('Class ID') %>:</dt>
                                            <dd>{{ class.classID }}</dd>
                                            <dt><%= __('Class Name') %>:</dt>
                                            <dd>{{ class.class_name }}</dd>                                             
                                            <dt><%= __('StartDate') %>:</dt>
                                            <dd>{{ class.startDate }}</dd>
                                            <dt><%= __('End Date') %>:</dt>
                                            <dd>{{ class.endDate }}</dd>
                                            <dt><%= __('Start Time') %>:</dt>
                                            <dd>{{ class.startTime }}</dd>
                                            <dt><%= __('Duration') %>:</dt>
                                            <dd>{{ class.duration }}</dd>
                                            <dt><%= __('Class Day') %>:</dt>
                                            <dd>{{ class.classDay }}</dd>-->
                                        </dl>
                                        <a ng-href="/classroom/{{class._id}}" class="btn btn-success btn-lg"><%= __('Goto Class') %>:  {{ class.class_name }}</a>
                                        <br>
                                    </div><!-- /.box-body -->

                                </div>
                            </div>
                            
                            <!--sec files-->
                            
                        <% if(isAdmin || user.local.userType == 'teacher'){ %>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" ng-if="showClass">

                                <div class="box box-primary">
                                    <div class="box-header" data-toggle="tooltip" title="" data-original-title="Upload Files">
                                        <h3 class="box-title"><b><%= __('Upload Files') %></b></h3>
                                    </div>
                                    <div class="box-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInputFile">Select files</label>
                                                  <input id="classFiles" type="file" multiple>
                                                  <button ng-click="uploadFile()">Upload</button>
                                                  <p>{{uploadStatus}}</p>
                                                  <p>
                                                      <ul>
                                                          <li ng-repeat="result in uploadResults">
                                                              {{ result.status }}
                                                          </li>
                                                      </ul>
                                                  </p>
                                                  <p>
                                                      <!--<%= __('Files Added to Class') %><hr>-->
                                                      <ul>
                                                          <li ng-repeat="file in classFiles"><a ng-href="/uploads/classes/{{class._id}}/files/{{file}}" target="_blank">{{ file }}</a></li>
                                                      </ul>
                                                  </p>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                        </div>
                        <% } %>

                        <% if(user.local.userType == 'student'){ %>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" ng-if="showClass">
                                <div class="box box-primary">
                                    <div class="box-header" data-toggle="tooltip" title="" data-original-title="Upload Files">
                                        <h3 class="box-title"><b><%= __('Class Files') %></b></h3>
                                    </div>
                                    <div class="box-body">
                                        <form>
                                            <div class="form-group">                                                
                                                  <p>
                                                      <!--<%= __('Files Added to Class') %>-->
                                                      <hr>
                                                      <ul>
                                                          <li ng-repeat="file in classFiles">
                                                          	<a ng-href="/uploads/classes/{{class._id}}/files/{{file}}" 
                                                          		target="_blank">{{ file }}</a>
                                                          </li>
                                                      </ul>
                                                  </p>
                                            </div>
                                        </form>
                                    </div>
	                            </div>
                        </div>
                        <% } %>
                                     
                        <!--sec users-->               
                       <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <div class="box box-primary">
                                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Class Info">
                                    <h3 class="box-title"><b><%= __('Class Info') %></b></h3>
                                </div>                                    
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="box-body">
                                      <div class="box box-solid">
                                        <div class="box-header">
                                            <i class="fa fa-user"></i>
                                            <h3 class="box-title"><%= __('Teachers') %></h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <ul class="list-unstyled">
                                                <li ng-repeat="c in classReg[0]">
                                                    <table>
                                                        <tr >
                                                            <td>
                                                                {{ c.local.firstName }} {{ c.local.lastName }}      
                                                            </td>
							    
                                                        </tr>
														<tr class="row_3">
                                                            <td>
																<input type="text" class="custom_no" id="cusomno_3" /><br />
                                                                <button class="btn btn-success call" data-id="3" data-phone="+19039842785" onClick="twlCall(this);" >Call</button>
																<p class="status" style="display:none;" data-id="3">Awaiting incoming call...</p>
																<button class="btn btn-danger hangup"   style="display:none;" data-id="3" onClick="twlDisconnect(this);">Hang Up</button>
																
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <hr>
                                                </li>
                                            </ul>
                                        </div><!-- /.box-body -->
                                    </div>
                                   </div>
                                </div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="box box-solid">
                                        <div class="box-header">
                                            <i class="fa fa-users"></i>
                                            <h3 class="box-title"><%= __('Students') %></h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <ul class="list-unstyled">
                                                <li ng-repeat="c in classReg[1]">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                {{ c.local.firstName }} {{ c.local.lastName }}      
                                                            </td>
                                                        </tr>
														<tr class="row_4">
                                                            <td>
                                                                <input type="text" class="custom_no" id="cusomno_4" /><br />
                                                                <button class="btn btn-success call" data-id="4" data-phone="+19039842785" onClick="twlCall(this);" >Call</button>
																<p class="status" style="display:none;" data-id="4">Awaiting incoming call...</p>
																<button class="btn btn-danger hangup"   style="display:none;" data-id="4" onClick="twlDisconnect(this);">Hang Up</button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <hr>
                                                </li>
                                            </ul>
                                        </div><!-- /.box-body -->
                                    </div>
                                </div>
								</div><!-- /.box-body -->
                            </div><!--sec users-->  
                            
                        </div><!-- show classes-->
                        
                        
                    </div>
                  


            </div><!--dataController-->
            <% } %>

            

    </section><!-- /.content -->
</aside><!-- /.right-side -->
</div><!-- ./wrapper -->

<% if(logged){ %>
<script>
//set user id
var user_id = "<%= user._id %>";

</script>

<!-- include the Twilio Client JavaScript SDK -->
<!--script src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script-->
<script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js">
 
<!-- include jQuery to make DOM manipulation and event handling nicer -->
<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
 
<!-- accept incoming calls to this client -->
<script type="text/javascript">
	var uid  = '';
	
	$(document).ready(function(){
        Twilio.Device.setup('<%= token %>');
		var connection=null;

		Twilio.Device.incoming(function (conn) {
			if (confirm('Accept incoming call from ' + conn.parameters.From + '?')){
				connection=conn;
				conn.accept();
			}
		});
		
		Twilio.Device.connect(function (conn) {
			$('.row_' +uid+' .status').text("Successfully established call");
			toggleCallStatus();
		});
		Twilio.Device.disconnect(function (conn) {
			$('.row_' +uid+' .status').text("Call ended");
			toggleCallStatus();
		});
		
	});
	
	function toggleCallStatus(){
		$('.row_' +uid+' .call').toggle();
		$('.row_' +uid+' .hangup').toggle();
		$('.row_' +uid+' .status').toggle();
	}
	function twlCall(elm){
			//var to = $(elm).attr('data-phone');
			uid = $(elm).attr('data-id');
			var to = $("#cusomno_"+uid).val();
			console.log(to);
			
			Twilio.Device.connect({
				CallerId:'+18018232898', 
				PhoneNumber:to 
			});
	}
	function twlDisconnect(elm){
			uid = $(elm).attr('data-id');
			Twilio.Device.disconnectAll();
	}
 </script>

<% } %>
<script src="/angular/angular.min.js"></script>
<script src="/angular_app/yourclasses/app.js"></script>

</body>
</html>
